In [3]:
from IPython.display import Markdown as md
class Query:
    def __init__(self, sql):
        self.sql = sql
    def pretty(self):
        return md('```sql\n{}\n```'.format(self.
                                           
                        sql))

In [4]:
sample = Query("SELECT * from user")
sample.pretty()

NameError: name 'sql' is not defined

#words
this is some text
```sql
FROM user SELECT User, Host
```

In [8]:
_.__dict__

{'data': '$f_r = 2$ GHz', 'filename': None, 'metadata': {}, 'url': None}